.app {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 20px;
}

.app-logo {
  margin-bottom: 18px;
}

.btn-style {
  border-radius: 25px;
  border: none;
  background-color: #22c95d;
  padding: 5px 20px;
}

.col-md-4 {
  margin: 0 !important;
}

.copy-right {
  text-decoration: none;
  color: rgb(110, 118, 125);
  font-size: 15px;
}

.copyright-symbol {
  font-size: 13px;
  vertical-align: top;
  color: rgb(110, 118, 125);
}

.explore-section {
  padding-left: 30px;
}

.footer {
  padding-left: 10px;
}

.footer-info {
  margin-right: 10px;
  text-decoration: none;
  color: rgb(110, 118, 125);
  font-size: 15px;
}

.footer-info:hover {
  color: rgb(110, 118, 125);
  cursor: pointer;
}

.main-content {
  max-width: 600px;
  margin: 0 auto;
}

.more-content-ct {
  margin-top: 20px;
  margin-left: 20px;
}

.separator {
  border-top: 0;
  border-bottom: 0;
  height: 10px;
}

.spotify-btn {
  text-decoration: none;
  color: #000;
}

.spotify-btn:hover {
  cursor: pointer;
  color: #000;
}







