.header-title {
  font-size: 24px;
  margin-bottom: 0 !important;
  display: inline;
}

.logo-container {
  text-align: center;
  position: relative;
  left: 65px;
}

h1 {
  margin-bottom: 0;
}

.home-link {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
  color: black !important;
}

.app-logo {
  color: rgb(30,161,241);
  /* margin-left: 180px; */
}

.search {
  border-radius: 20px;
  width: 300px;
}

.website-logo {
  border-radius: 50%;
  background-color: rgb(29, 161, 242);
  background-image: url("https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80");
  background-size: cover;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  flex: 0 0 auto;
  text-align: center;
  line-height: 50px;
  font-size: 1.3em;
  font-weight: 200;
  text-transform: uppercase;
}

.search {
  margin-left: 10px !important;
  border: none;
  outline: #023047 !important;
}

.search:focus {
  outline: none;
  border-color:#013047;
  box-shadow: 0 0 10px #013047;
}

.me-2 {
  outline: #023047 !important;
}

.app-logo {
  /* margin-left: 420px; */
  margin-right: 0;
  margin-top: 8px;
  margin-bottom: 0 !important;
  color: grey;
}

.main-logo {
  color: #023047;
  /* padding-bottom: 15px; */
  position: relative;
  bottom: 15px;
  font-size: 15px;
  vertical-align: middle;
}

.d-flex {
  padding-top: 10px;
  margin-left: 45px;
  justify-content: end;
}

.logo-link {
  text-decoration: none;
  color: #023047;
}

.logo-link:hover {
  color: #023047;
}

.mobile-links {
  display: flex;
  padding: 0 !important;
  text-decoration: none;
  font-weight: bold;
  color: #023047;
  margin-left: 40px;
  margin-top: 0 impr !important;
}

@media screen and (min-width: 540px) {
  .mobile-links {
    display: none;
    width: 100%;
    box-sizing: border-box;
  }
}

.mobile-link-pt {
  margin: 0 !important;
  padding: 0 !important;
}
