.article-name {
  font-weight: bold;
  color: black;
  font-size: 14px;
}

.article-published {
  font-size: 12px;
  color: rgba(110, 118, 125, .75);
}

.article-titles {
  display: inline-block;
  width: 250px;
  padding-right: 10px;
  vertical-align: middle;
}

.images {
  margin-top: 55px;
  padding: 0;
}

.images-container {
  display: inline;
  vertical-align: middle;
}

.newsfeed-container {
  margin-bottom: 10px;
  width: 414px;
}

.newsfeed-link {
  text-decoration: none;
  color: #000;
}

.newsfeed-link:hover {
  color: #023047;
}

p {
  margin-bottom: 0;
}

